/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/ext_power.h>

#define DEF_L 0
#define APX_L 1
#define NUM_L 2

// Using layer taps on thumbs, having quick tap as well helps w/ repeating space/backspace
&lt { quick_tap_ms = <200>; };

/ {

    keymap {
        compatible = "zmk,keymap";

		default_layer {
     /*
      * ┌───┬───┬───┬───┬───┬───┬───┐       ┌───┬───┬───┬───┬───┬───┬───┐
      * │Esc│ 1 │ 2 │ 3 │ 4 │ 5 │ 6 │       │ 7 │ 8 │ 9 │ 0 │ - │ = │ \ │
      * ├───┼───┼───┼───┼───┼───┼───┤       ├───┼───┼───┼───┼───┼───┼───┤
      * │ F1│ ` │ Q │ W │ E │ R │ T │       │ Y │ U │ I │ O │ P │ [ │ ] │
      * ├───┼───┼───┼───┼───┼───┼───┤       ├───┼───┼───┼───┼───┼───┼───┤ 
      * │ F2│Tab│ A │ S │ D │ F │ G │       │ H │ J │ K │ L │ ; │ ' │Ent│
      * ├───┼───┼───┼───┼───┼───┼───┤       ├───┼───┼───┼───┼───┼───┼───┤
      * │PWR│Sft│ Z │ X │ C │ V │ B │       │ N │ M │ , │ . │ / │Hom│End│
      * └───┴───┴───┴───┴───┴───┴───┘       └───┴───┴───┴───┴───┴───┴───┘
      * ┌───┐       ┌───┬───┐                   ┌───┬───┐           ┌───┐
      * │Ctl│       │Alt│Win├───┐           ┌───┤Spa│BSP│           │Lyr│
      * └───┘       └───┴───┤Spa├───┐   ┌───┤PDN├───┴───┘           └───┘
      *                     └───┤CPY│   │PUP├───┘
      *                         └───┘   └───┘
      */

			bindings = <
&kp ESC   &kp N1    &kp N2    &kp N3    &kp N4    &kp N5    &kp N6              &kp N7    &kp N8    &kp N9    &kp N0    &kp MINUS &kp EQUAL &kp BSLH      
&kp F1    &kp GRAVE &kp Q     &kp W     &kp E     &kp R     &kp T               &kp Y     &kp U     &kp I     &kp O     &kp P     &kp LBKT  &kp RBKT  
&kp F2    &kp TAB   &kp A     &kp S     &kp D     &kp F     &kp G               &kp H     &kp J     &kp K     &kp L     &kp SEMI  &kp SQT   &kp ENTER
&ext_power EP_TOG   &kp LSHFT &kp Z     &kp X     &kp C     &kp V     &kp B               &kp N     &kp M     &kp COMMA &kp DOT   &kp FSLH  &kp HOME  &kp END   
&kp CTRL                      &kp LALT  &kp LGUI  &kp SPACE &ht_hp K_CUT K_COPY &kp PG_UP &kp PG_DN &kp SPACE &kp BSPC                      &mo NJM_L

			>;

		};
		
		apex_layer {
     /*
      * ┌───┬───┬───┬───┬───┬───┬───┐       ┌───┬───┬───┬───┬───┬───┬───┐
      * │Esc│ 1 │ 2 │ 3 │ 4 │ 5 │ 6 │       │ 7 │ 8 │ 9 │ 0 │ - │ = │ \ │
      * ├───┼───┼───┼───┼───┼───┼───┤       ├───┼───┼───┼───┼───┼───┼───┤
      * │ F1│ ` │ Q │ W │ E │ R │ T │       │ Y │ U │ I │ O │ P │ [ │ ] │
      * ├───┼───┼───┼───┼───┼───┼───┤       ├───┼───┼───┼───┼───┼───┼───┤ 
      * │ F2│Tab│ A │ S │ D │ F │ G │       │ H │ J │ K │ L │ ; │ ' │Ent│
      * ├───┼───┼───┼───┼───┼───┼───┤       ├───┼───┼───┼───┼───┼───┼───┤
      * │PWR│Sft│ Z │ X │ C │ V │ B │       │ N │ M │ , │ . │ / │Hom│End│
      * └───┴───┴───┴───┴───┴───┴───┘       └───┴───┴───┴───┴───┴───┴───┘
      * ┌───┐       ┌───┬───┐                   ┌───┬───┐           ┌───┐
      * │Ctl│       │Alt│Win├───┐           ┌───┤Spa│BSP│           │Lyr│
      * └───┘       └───┴───┤Spa├───┐   ┌───┤PDN├───┴───┘           └───┘
      *                     └───┤CPY│   │PUP├───┘
      *                         └───┘   └───┘
      */

			bindings = <
&kp ESC   &kp N1    &kp N2    &kp N3    &kp N4    &kp N5    &kp N6              &kp N7    &kp N8    &kp N9    &kp N0    &kp MINUS &kp EQUAL &kp BSLH      
&kp F1    &kp GRAVE &kp Q     &kp W     &kp E     &kp R     &kp T               &kp Y     &kp U     &kp I     &kp O     &kp P     &kp LBKT  &kp RBKT  
&kp F2    &kp TAB   &kp A     &kp S     &kp D     &kp F     &kp G               &kp H     &kp J     &kp K     &kp L     &kp SEMI  &kp SQT   &kp ENTER
&ext_power EP_TOG    &kp LSHFT &kp Z     &kp X     &kp C     &kp V     &kp B               &kp N     &kp M     &kp COMMA &kp DOT   &kp FSLH  &kp HOME  &kp END   
&kp CTRL                      &kp LALT  &kp LGUI  &kp SPACE &ht_hp K_CUT K_COPY &kp PG_UP &kp PG_DN &kp SPACE &kp BSPC                      &mo NUM_L   

			>;		
    };

		numpad_layer {
     /*
      * ┌───┬───┬───┬───┬───┬───┬───┐       ┌───┬───┬───┬───┬───┬───┬───┐
      * │DEF│ F1│ F2│ F3│ F4│ F5│ F6│       │ F7│ F8│ / │ * │ - │F11│F12│
      * ├───┼───┼───┼───┼───┼───┼───┤       ├───┼───┼───┼───┼───┼───┼───┤
      * │APX│CAP│ x │ UP│ x │ x │VUP│       │ x │ 7 │ 8 │ 9 │ + │ F9│F10│
      * ├───┼───┼───┼───┼───┼───┼───┤       ├───┼───┼───┼───┼───┼───┼───┤ 
      * │ x │Tab│LFT│DWN│RGT│ x │VDN│       │UND│ 4 │ 5 │ 6 │ x │ x │Ent│
      * ├───┼───┼───┼───┼───┼───┼───┤       ├───┼───┼───┼───┼───┼───┼───┤
      * │PWR│Sft│ x │ x │ x │ x │MUT│       │RED│ 1 │ 2 │ 3 │ x │ x │ x │
      * └───┴───┴───┴───┴───┴───┴───┘       └───┴───┴───┴───┴───┴───┴───┘
      * ┌───┐       ┌───┬───┐                   ┌───┬───┐           ┌───┐
      * │Ctl│       │Alt│Win├───┐           ┌───┤ 0 │ . │           │Lyr│
      * └───┘       └───┴───┤Spa├───┐   ┌───┤Del├───┴───┘           └───┘
      *                     └───┤PST│   │ x ├───┘
      *                         └───┘   └───┘
      */

			bindings = <
&to DEF_L &kp F1    &kp F2    &kp F3    &kp F4    &kp F5    &kp F6              &kp F7    &kp F8    &kp FSLH  &kp STAR  &kp MINUS &kp F11   &kp F12       
&to APX_L &kp LCAPS &none     &kp W     &none     &none     &kp K_VOL_UP        &none     &kp N7    &kp N8    &kp N9    &kp PLUS  &kp F9    &kp F10 
&none     &kp TAB   &kp A     &kp S     &kp D     &kp F     &kp K_VOL_DN        &kp K_UNDO &kp N4   &kp N5    &kp N6    &none     &none     &kp ENTER
&ext_power EP_TOG    &kp LSHFT &none     &none     &none     &none     &kp K_MUTE          &kp K_REDO &kp N1   &kp N2    &kp N3    &none     &none     &none   
&kp CTRL                      &kp LALT  &kp LGUI  &kp SPACE &kp K_PASTE         &none     &kp DEL   &kp N0    &kp DOT                       &mo NUM_L  

			>;

		};
		
};
